.index {
    // border: 2px solid pink;
    // height: 100%;
    background-color: transparent;
    position: relative;

    &__star {
        position: absolute;
        background-color: transparent;
        top: 90px;
        left: 30px;

        width: 500px;

        z-index: 0;
    }
}
