$backgorund-1: #1c1e2e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $backgorund-1;
}

.body-index {
    overflow: hidden;
    display: flex;
    background-image: linear-gradient(105deg, hsl(100deg 43% 27%) 0%, hsl(115deg 17% 21%) 1%, hsl(233deg 24% 15%) 41%);
}
