.form {
    min-height: 500px;
    min-width: 690px;
    border-radius: 40px;
    // border: 3px solid red;
    background-color: $backgorund-3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 30px;
    filter: transparent(30px);

    margin: 0 auto;


    &__input {
        width: 200px;
        // border: 3px solid red;
        width: 600px;
        border-radius: 10px;
    }

    &--registrazione {
        padding: 30px  0;
        // border: solid 2px red;
        color: $secondary;
        background-color: transparent;
    }

    &--container {
        border: 12px solid $backgorund-3;
        padding: 70px 45px;
        border-radius: 24px;
    }
    &--section {
        // border: solid 2px yellow;
        display: flex;
        flex-direction: row;
        align-items: center;

        justify-content: space-between;
        min-width: 980px;

        h2 {
            color: $primary;
        }
    }
}

.form-title {
    color: $primary;
    // border: 3px solid red;
    text-align: center;
    background-color: transparent;
}

.form-label {
    color: $primary;
    background-color: transparent;
    font-size: 12px;

}

.username, .password, .input__container {
    background-color: transparent;
}