.navbar {
    // border: 2px solid red;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1500px;
    height: 100px;


    &--login {
        background-color: transparent;
    }
}