<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>RPCbet_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet_RegistrazioneUtente</display-name>
    <servlet-name>Servlet_RegistrazioneUtente</servlet-name>
    <servlet-class>Servlet.Servlet_RegistrazioneUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_RegistrazioneUtente</servlet-name>
    <url-pattern>/Servlet_RegistrazioneUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_LoginUtente</display-name>
    <servlet-name>Servlet_LoginUtente</servlet-name>
    <servlet-class>Servlet.Servlet_LoginUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_LoginUtente</servlet-name>
    <url-pattern>/Servlet_LoginUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_LoginAdmin</display-name>
    <servlet-name>Servlet_LoginAdmin</servlet-name>
    <servlet-class>Servlet.Servlet_LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_LoginAdmin</servlet-name>
    <url-pattern>/Servlet_LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_EventiCalcio</display-name>
    <servlet-name>Servlet_EventiCalcio</servlet-name>
    <servlet-class>Servlet.Servlet_EventiCalcio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_EventiCalcio</servlet-name>
    <url-pattern>/Servlet_EventiCalcio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_EventiGeneratiCalcio</display-name>
    <servlet-name>Servlet_EventiGeneratiCalcio</servlet-name>
    <servlet-class>Servlet.Servlet_EventiGeneratiCalcio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_EventiGeneratiCalcio</servlet-name>
    <url-pattern>/Servlet_EventiGeneratiCalcio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_GenerazioneEventi</display-name>
    <servlet-name>Servlet_GenerazioneEventi</servlet-name>
    <servlet-class>Servlet.Servlet_GenerazioneEventi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_GenerazioneEventi</servlet-name>
    <url-pattern>/Servlet_GenerazioneEventi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_MostraEventi</display-name>
    <servlet-name>Servlet_MostraEventi</servlet-name>
    <servlet-class>Servlet.Servlet_MostraEventi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_MostraEventi</servlet-name>
    <url-pattern>/Servlet_MostraEventi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_IncrementaSaldo</display-name>
    <servlet-name>Servlet_IncrementaSaldo</servlet-name>
    <servlet-class>Servlet.Servlet_IncrementaSaldo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_IncrementaSaldo</servlet-name>
    <url-pattern>/Servlet_IncrementaSaldo</url-pattern>
  </servlet-mapping>
</web-app>