:root {
    --backgorund-1: #1c1e2e;
    --backgorund-2: #222637;
    --backgorund-3: #33394b;
    --primary: #6dd338;
    --secondary: #fdfeff;
    --tertiary: #696e88;
  
    --font-family: 'Orbitron';
  }
  
  @font-face {
    font-family: 'Orbiton';
    src: url('../fonts/Orbitron/Orbitron-Medium.ttf') format('ttf');
    src: url('../fonts/Orbitron/Orbitron-Bold.ttf') format('ttf')
  }
  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Orbitron/.ttf') format('ttf');
    src: url('../fonts/Orbitron/Orbitron-Bold.ttf') format('ttf')
  }
  
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


.body-profilo-utente {
    overflow: hidden;
    color: var(--secondary);
    background-image: linear-gradient(105deg, hsl(100deg 43% 27%) 0%, hsl(115deg 17% 21%) 1%, hsl(233deg 24% 15%) 41%);
    height: 100vh;
}